* {
  transition: all .5s ease-in-out;
}

body {
  background-image: url("images/crypto-background.jpg");
  background-attachment: fixed;
}

.body-wrapper {
  margin: -80px auto;
  width: 85%;
  height: 100%;
  background-color: rgba(27, 3, 95, 0.7);
  border-radius: 25px;
  padding: 30px;
}

.logo {
  display: flex;
  justify-content: space-between;
  padding: 0 4rem;
  margin: 20px auto;
  margin-top: 20px;
}

.logo-text {
  margin: auto 0;
  color: #fff;
  cursor: pointer;
}

.logo-image {
  width: 70vw;
  height: 95px;
  background-image: url("/images/arseniyx.svg");
  background-attachment: fixed;
  background-position: top;
  background-size: 40vw;
  background-repeat: no-repeat;
  cursor: pointer;
}

.logo-wrapper {
  margin-top: 20px;
  border-radius: .25rem;
}

.nav-pills {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: .25rem;
  padding: .25rem;
}

.nav-pills:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.nav-link {
  border-radius: 50%;
}

.nav-link:hover {
  text-decoration: underline;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  opacity: 0.8;

  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #AB40FF;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #43A9E2;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:disabled+.slider::before {
  background-color: #ddd;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.progress {
  display: block;
  text-align: center;
  width: 0;
  height: 3px;
  background: #f4a261;
  transition: width .3s;
}

.progress.hide {
  opacity: 0;
  transition: opacity 1.3s;
}

.card-deck {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 25px auto;
}

.card {
  background-color: black;
  margin: 1rem 0.5rem;
  border: none;
  border-radius: 15px;
  margin-top: 0 !important;
}

.main-card {
  width: 24vw;
  color: #43A9E2;
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background-image: url("images/Card.svg");
}

.header-card__container {
  display: flex;
  justify-content: space-between;
}

.form-inline.my-2.my-lg-0 {
  display: flex;
  height: 3rem;
}

nav {
  justify-content: space-between;
  margin: auto;
  width: 85%;
}

.list-group-item-dark {
  color: #43A9E2;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: #333;
}

.image-wrapper {
  width: 18vw;
  height: auto;
  background-color: white;
  border-radius: 50%;
}

img {
  width: 18vw;
}

.chart {
  height: 28rem;
  background-size: cover;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.7);
  border: 3px #333 solid;
  padding: 20px 0;
}

.more-info {
  background: #43A9E2;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  backdrop-filter: blur(4px);

  /* Note: backdrop-filter has minimal browser support */
  border-radius: 100px;
  border: none;
}



.search-input {
  background-color: rgba(0, 0, 0, 0.5);
  border-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  transition: border-radius .5s ease-in-out;
}

.form-inline:hover .search-input {
  width: 100%;
  border-radius: .25rem;
}

.search-input:focus {
  width: 100%;
  border-radius: .25rem;
}

.bi-search {

  margin-top: auto;
  margin-bottom: auto;
}

/* No need it now */
.canvasjs-chart-credit {
  visibility: hidden;
}

.spinner {
  display: none;
  position: absolute;
  top: 40%;
  left: 45%;
  width: 100px;
  height: 100px;
  color: #AB40FF;
}

.submit-button {
  padding: 0 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: .5px rgba(250, 255, 255, 0.5) solid;
  background-color: rgba(0, 0, 0, 0.5);
  margin-left: 10px;
  display: none;
}

.smart-search-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  position: absolute;
  top: 20px;
  right: 10%;
}

.search-label {
  color: #43A9E2;

}

.smart-toggle-button {
  margin: 0 auto;
}

@media only screen and (max-width: 500px) {
  .main-card {
    width: 76vw;

  }

  nav {
    display: flex;
    flex-wrap: wrap;
  }

  .search-input {
    margin: 0 auto;
  }

  .form-inline.my-2.my-lg-0 {
    margin: auto;
  }

  .nav-pills {
    margin: auto;
  }

  .logo {
    padding: 0;
  }

  .logo-image {
    background-size: 55vw;
    background-image: url("/images/arseniyx.svg");
  }

  .image-wrapper {
    width: 50vw;
    height: auto;

  }

  img {
    width: 50vw;
  }

  .smart-search-container {
    right: 40%;
    top: 30px;
  }
}

@media only screen and (min-width: 500px) and (max-width: 835px) {
  .main-card {
    width: 27vw;
  }

  .body-wrapper {
    width: 95%;
    padding: 0;
  }

  .image-wrapper {
    width: 20vw;
    height: auto;

  }

  img {
    width: 20vw;
  }

  .card-body {
    padding: 5px;
  }
}

.about-page {
  padding: 1.5rem;
  border-radius: .5rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: #43A9E2;
  text-align: center;
}

.about-abilities {
  text-align: left;
  margin-left: 5%;
}

.dialog-container {
  visibility: hidden;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
}

.dialog-content {
  position: relative;
  padding: 1rem;
  background-color: #fff;
  border-radius: .5rem;
  width: 20vw;

}

.close-button {
  position: absolute;
  top: .5rem;
  right: .5rem;

}

.names-list {}